body{
 background-color: azure;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 flood-color: cyan ;
}
header{
    font-size: xx-large;
    font-weight: 200;
    font-style: inherit;
    font: outline;
}
form{
    text-align: left;
    table-layout: auto;
}