{% extends "base.html" %}

{%block title%} Rooms {%endblock%}

{% block content %}
    <header style="text-align: center;">Welcome to the PLANNER</header>
    <h3>Hello USER</h3><br />
    <div><b>This is just a random stuff over here</b></div> </br>
    {{message}}
    <p> Number of meetings available : {{number_of_meetings}}</p>
    <h2>ROOMS</h2>
    <ul>
        {% for room in room %}
        <li>
            <a href="{% url 'details' room.id %}"> {{room.name}} </a>
        </li>
        {% endfor %}
    </ul>

{%endblock%}